<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/main.css") }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="subheader">
                <h3 class="name">D'angelo Shakur</h3>
                <h3 id="home-button">
                    <a class="home-button" href="/">
                        <i class="fas fa-home"></i>Home
                    </a>
                </h3>
            </div>
            {% if include_child_template %}
            <div class="subheader">
                {% include 'child_template.html' %}
            </div>
            {% endif %}
        </header>
    </div>
    <div class="main-content">
        {% block primary_content %}
        {% endblock %}
    </div>
</body>
</html>
