<ul class="icon-list">
    <li>
        <a href="#" id="readme">
            <i class="fa-brands fa-readme"></i>Read me
        </a>
    </li>
    <li>
        <a href="#" id="code">
            <i class="fa-solid fa-code"></i>Code
        </a>
    </li>
    {% if github_data.dashboard %}
    <li>
        <a href="#" id="dashboard">
            <i class="fa-solid fa-chart-line"></i>Dashboard
        </a>
    </li>
    {% endif %}
    <li>
        <a href="https://github.com/dmshakur/{{ github_data.repo_name }}" target="blank_">
            <i class="fab fa-github" ></i>Github page
        </a>
    </li>
</ul>
