{% extends 'base.html' %}

{% set include_child_template = True %}

{% block head %}
<title>{{ project_name }}</title>
{% endblock %}


{% block primary_content %}
<h4 class="project-name">{{ project_name }}</h4>
<div id="project-view">

    {% include 'readme.html' %}
    {{ github_data|tojson }}
    <script>
        $(document).ready(function() {
        $("#readme").click(function(){
            $.ajax({
                url: "/readme",
                type: "GET",
                data: { github_data: JSON.stringify({{ github_data|tojson }}) },
                dataType: 'html',
                success: function(response) {
                    $("#project-view").html(response);
                }
            });
        });        

        $("#dashboard").click(function(){
            $.ajax({
                url: "/dashboard",
                type: "GET",
                data: { github_data: JSON.stringify({{ github_data|tojson }}) },
                dataType: 'html',
                success: function(response) {
                    $("#project-view").html(response);
                }
            });
        });

        $("#code").click(function(){
            $.ajax({
                url: "/code",
                type: "GET",
                data: { github_data: JSON.stringify({{ github_data|tojson }}) },
                dataType: 'html',
                success: function(response) {
                    $("#project-view").html(response);
                }
            });
        });
        });
    </script>

</div>
{% endblock %}
